<div id="sides">
    <nav class="custom-sidebar close">
        <header>
            <div class="custom-image-text">
                <span class="custom-image">
                    <!-- <img src="logo.png" alt=""> -->
                </span>
    
                <span class="logo"><i class='bx bx-cube'></i></span>
                <div class="custom-text logo-text">
                    <span class="custom-name">NOCKU</span>
                    <span class="custom-profession">Monitoring System</span>
                </div>
            </div>
            <i class='bx bx-chevron-right custom-toggle'></i>
        </header>
        <div class="custom-menu-bar">
            <div class="custom-menu">
                <!-- <li class="custom-search-box">
                    <i class='bx bx-search custom-icon'></i>
                    <input type="text" placeholder="Search...">
                </li> -->
    
                <ul class="custom-menu-links">
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt custom-icon'></i>
                            <span class="custom-text custom-nav-text">Dashboard</span>
                        </a>
                    </li>
    
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 custom-icon'></i>
                            <span class="custom-text custom-nav-text">Revenue</span>
                        </a>
                    </li>
    
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-bell custom-icon'></i>
                            <span class="custom-text custom-nav-text">Notifications</span>
                        </a>
                    </li>
    
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt custom-icon'></i>
                            <span class="custom-text custom-nav-text">Analytics</span>
                        </a>
                    </li>
    
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-heart custom-icon'></i>
                            <span class="custom-text custom-nav-text">Likes</span>
                        </a>
                    </li>
    
                    <li class="custom-nav-link">
                        <a href="#">
                            <i class='bx bx-wallet custom-icon'></i>
                            <span class="custom-text custom-nav-text">Wallets</span>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="custom-bottom-content">
                <li>
                    <a href="#">
                        <i class='bx bx-log-out custom-icon'></i>
                        <span class="custom-text custom-nav-text">Logout</span>
                    </a>
                </li>
    
                <li class="custom-mode">
                    <div class="custom-sun-moon">
                        <i class='bx bx-moon custom-icon custom-moon'></i>
                        <i class='bx bx-sun custom-icon custom-sun'></i>
                    </div>
                    <span class="custom-mode-text custom-text">Dark mode</span>
    
                    <div class="custom-toggle-switch">
                        <span class="custom-switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    
    <section class="custom-home p-4">
        <!-- <div class="custom-text">Dashboard Sidebar</div> -->
        <router-outlet></router-outlet>
    </section>
    
    <!-- <script src="/src/assets/js/app.js"></script> -->
    
</div>