/* You can add global styles to this file, and also import other style files */
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: var(--text-color);
    font-size: 2.8rem;
    margin-left: 8px;
    margin-top: 10px;
}
.logo-hide{
    opacity: 0;
}
:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */
.custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.custom-sidebar.close {
    width: 88px;
}

.custom-sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.custom-sidebar .custom-icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.custom-sidebar .custom-text,
.custom-sidebar .custom-icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.custom-sidebar .custom-text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.custom-sidebar.close .custom-text {
    opacity: 0;
}

.custom-sidebar header {
    position: relative;
}

.custom-sidebar header .custom-image-text {
    display: flex;
    align-items: center;
}

.custom-sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

.custom-sidebar header .custom-name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.custom-sidebar header .custom-profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.custom-sidebar header .custom-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-sidebar header .custom-image img {
    width: 40px;
    border-radius: 6px;
}

.custom-sidebar header .custom-toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .custom-sidebar header .custom-toggle {
    color: var(--text-color);
}

.custom-sidebar.close .custom-toggle {
    transform: translateY(-50%) rotate(0deg);
}

.custom-sidebar .custom-menu {
    margin-top: 40px;
}

.custom-sidebar li.custom-search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.custom-sidebar li.custom-search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.custom-sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.custom-sidebar li a:hover {
    background-color: var(--primary-color);
}

.custom-sidebar li a:hover .custom-icon,
.custom-sidebar li a:hover .custom-text {
    color: var(--sidebar-color);
}

body.dark .custom-sidebar li a:hover .custom-icon,
body.dark .custom-sidebar li a:hover .custom-text {
    color: var(--text-color);
}

.custom-sidebar .custom-menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.custom-menu-bar::-webkit-scrollbar {
    display: none;
}

.custom-sidebar .custom-menu-bar .custom-mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.custom-menu-bar .custom-mode .custom-sun-moon {
    height: 50px;
    width: 60px;
}

.custom-mode .custom-sun-moon i {
    position: absolute;
}

.custom-mode .custom-sun-moon i.custom-sun {
    opacity: 0;
}

body.dark .custom-mode .custom-sun-moon i.custom-sun {
    opacity: 1;
}

body.dark .custom-mode .custom-sun-moon i.custom-moon {
    opacity: 0;
}

.custom-menu-bar .custom-bottom-content .custom-toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.custom-toggle-switch .custom-switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.custom-switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .custom-switch::before {
    left: 20px;
}

.custom-home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.custom-home .custom-text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.custom-sidebar.close ~ .custom-home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .custom-home .custom-text {
    color: var(--text-color);
}
ol, ul {
    padding-left: 0rem !important;
}


/* custom card */

.bg-ico{
    background: #ffe69c;
    padding-top: 8px;
    border-radius: 8px;
}

.subtitle{
    font-size: 13px;
    color: #7070707d;
}
.text-pink{
    color: #ff85c1;
}